.alert.alert-info
  %a{:href => "http://rouge.io"}
    %strong Rouge
  is an implementation of
  %a{:href => "http://clojure.org"} Clojure
  on
  %a{:href => "http://ruby-lang.org"} Ruby
  %span>.  Give it a go!

.row
  .span12.console
    user=&gt; <span class="entry"></span><span class="cursor">&#x258b;</span>
