.console {
  background: #000;
  color: #ccc;

  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;

  font-family: monofur, monaco, monospace;
  font-size: 15pt;

  height: 450px;
  overflow-y: scroll;
  word-wrap: break-word;
}

.entry {
  color: #fff;
}

.paren0 { color: red; }
.paren1 { color: green; }
.paren2 { color: blue; }
.paren3 { color: yellow; }

.string { color: magenta; }

.error {
  color: #f00;
}

.stdout, .result {
  white-space: pre;
}

.stdout {
  color: #aaa;
}

.prompt {
  color: #0a0;
}
