.console {
  background: #002b36;
  color: #93a1a1;

  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;

  font-family: monofur, monaco, monospace;
  font-size: 15pt;

  height: 450px;
  overflow-y: scroll;
  word-wrap: break-word;
}

.entry {
  color: #eee8d5;
}

.paren0 { color: #dc322f; }
.paren1 { color: #dc322f; }
.paren2 { color: #dc322f; }
.paren3 { color: #dc322f; }

.string { color: #2aa198; }
.number { color: #2aa198; }

.error {
  color: #f00;
}

.stdout, .result {
  white-space: pre;
}

.stdout {
  color: #eee8d5;
}

.prompt {
  color: #859900;
}
