!!!
%html
  %head
    %title Try Rouge
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      %h1
        Try Rouge

      = yield
